<!DOCTYPE html>
<html>
    <head>
        <title>Pomodoro K | Admin Casos </title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="profile navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">PK Abogados</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{{ '/bfiles' }}" methods="get"> Home </a>
                      </li>
                     <li class="nav-item">
                        <a class="nav-link" href=" {{ '/files' }}"> Casos </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="#"> Reporte </a>
                     </li>
                    </ul>
                </div>
            </nav>
                            <br><br>
            <h2>Mayor cantidad de documentos por especialidad</h2>
            <div class="col-md-4">
                <br><br>
                <dd><p><span class="font-weight-bold">Especialidad: </span>  {{ type }}</p></dd>
                <dd><p><span class="font-weight-bold">Numero de documentos: </span> {{ count }}</p></dd>
            </div>
        </div>
    <body>
</html>